<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inspirational Quotes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Inspirational Quotes</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <a id="logout">Logout</a>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <p>Inspirational Quotes &copy; 2022</p>
        
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>