<div class="dashboard-page">
<div class="login-page">
  <form class="login-form">
    <div class="inputBox">
      <input type="text" id="email-login" required="required" name="email-login" />
      <span>Email:</span>
    </div>
    <div class="inputBox">
      <input type="password" id="password-login" required="required" name="password-login"/>
      <span>Password:</span>
    </div>
    <div class="inputBoxBtn">
      <button type="submit">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <div class="inputBox">
      <input type="text" id="username-signup" required="required" />
      <span>Username:</span>
    </div>
    <div class="inputBox">
      <input type="text" id="email-signup" required="required" />
      <span>Email:</span>
    </div>
    <div class="inputBox">
      <input type="password" id="password-signup" />
      <span>Password:</span>
    </div>
    <div class="inputBoxBtn">
      <button type="submit">Signup</button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>
